{{#partial "content"}}
    <section>
        <h1 class="text-center">SAFETY MTAANI <small>Help us help you; report a crime!!</small></h1>
        <div class="text-center ">
            <a href="/new-crime"><button class="btn btn-outline-success">Report a crime</button></a>
        </div>
    </section>


{{/partial}}
{{> layout.hbs}}